[submodule "vendor/pistache"]
	path = vendor/pistache
	url = https://github.com/pistacheio/pistache.git
[submodule "vendor/OdbCmake"]
	path = vendor/OdbCmake
	url = https://github.com/PwRAu/OdbCmake.git
