[submodule "subprojects/simdjson"]
	path = subprojects/simdjson
	url = https://github.com/simdjson/simdjson
[submodule "subprojects/pistache"]
	path = subprojects/pistache
	url = https://github.com/Tachi107/pistache
	branch = meson
