# Build directories
build*/

# Clangd cache
.cache/clangd

# Meson Wrap DB cache
/subprojects/*
!/subprojects/*.wrap
!/subprojects/pistache
!/subprojects/simdjson
!/subprojects/libscrafurl
/subprojects/rapidjson.wrap
