language: cpp

git:
  quiet: true
  depth: 1

os: linux

dist: focal

env:
  global:
    - CODECOV_TOKEN: 7fe99389-2dd9-40d0-a3e9-042f23a54307

_apt_packages: &_apt_packages
  - ninja-build
  # libsimdjson-dev
  - nlohmann-json3-dev
  - libsodium-dev
  - gcc-10-plugin-dev
  - libgtest-dev
  - libcurl4-openssl-dev
  - lcov
  - python3-pip

_env_clang_10_lld: &_env_clang_10_lld
  - CC: clang-10
  - CXX: clang++-10
  - CC_LD: lld-10
  - CXX_LD: lld-10

_env_gcc_10: &_env_gcc_10
  - CC: gcc-10
  - CXX: g++-10

jobs:
  include:
  - name: GCC 10, amd64
    arch: amd64
    env: *_env_gcc_10
    addons:
      apt:
        packages:
          - *_apt_packages
          - g++-10
        update: true

  - name: Clang 10, LLD, amd64
    arch: amd64
    env: *_env_clang_10_lld
    addons:
      apt:
        packages:
          - *_apt_packages
          - clang-10
          - lld-10
        update: true

  - name: GCC 10, arm64
    arch: arm64
    env: *_env_gcc_10
    addons:
      apt:
        packages:
          - *_apt_packages
          - g++-10
        update: true

  - name: Clang 10, LLD, arm64
    arch: arm64
    env: *_env_clang_10_lld
    addons:
      apt:
        packages:
          - *_apt_packages
          - clang-10
          - lld-10
        update: true

  - name: GCC 10, ppc64le
    arch: ppc64le
    env: *_env_gcc_10
    addons:
      apt:
        packages:
          - *_apt_packages
          - g++-10
        update: true

  - name: Clang 10, LLD, ppc64le
    arch: ppc64le
    env: *_env_clang_10_lld
    addons:
      apt:
        packages:
          - *_apt_packages
          - clang-10
          - lld-10
        update: true

  - name: GCC 10, s390x
    arch: s390x
    env: *_env_gcc_10
    addons:
      apt:
        packages:
          - *_apt_packages
          - g++-10
        update: true

  - name: Clang 10, LLD, s390x
    arch: s390x
    env: *_env_clang_10_lld
    addons:
      apt:
        packages:
          - *_apt_packages
          - clang-10
          - lld-10
        update: true

install:
  - sudo pip3 install -qqq --ignore-installed meson
  - mkdir build2-build && cd build2-build &&
    curl --silent --remote-name https://download.build2.org/0.13.0/build2-install-0.13.0.sh &&
    sh build2-install-0.13.0.sh --yes --jobs 2 --no-check --trust yes &&
    cd ..
  - mkdir odb-build &&
    cd odb-build &&
    bpkg --quiet --jobs 2 create --directory odb-gcc-10 cc config.cxx=g++-10 config.cc.coptions='-O3 -march=native -w' config.c.std=gnu17 config.cxx.std=gnu++17 config.bin.rpath=/usr/local/lib config.install.root=/usr/local config.install.sudo=sudo &&
    cd odb-gcc-10 &&
    bpkg --quiet --jobs 2 --trust-yes build --yes odb@https://pkg.cppget.org/1/beta &&
    bpkg --quiet --jobs 2 test odb &&
    bpkg --quiet --jobs 2 install odb &&
    cd .. &&
    bpkg --quiet --jobs 2 create --directory $CC cc config.cxx=$CXX config.cc.coptions='-O3 -march=native -w' config.c.std=gnu17 config.cxx.std=gnu++17 config.install.root=/usr/local config.install.sudo=sudo &&
    cd $CC &&
    bpkg --quiet --jobs 2 add https://pkg.cppget.org/1/beta &&
    bpkg --quiet --jobs 2 --trust-yes fetch &&
    bpkg --quiet --jobs 2 build --yes libodb &&
    bpkg --quiet --jobs 2 build --yes libodb-pgsql &&
    bpkg --quiet --jobs 2 install --all --recursive &&
    cd ..

before_script:
  - meson setup build_release --buildtype=release -Dscraf_build_tests=true
  - meson setup build_debug --buildtype=debug -Dscraf_build_tests=true -Db_coverage=true

script:
  - meson compile -C build_release --jobs 2
  - meson test -C build_release || (cat build_release/meson-logs/testlog.txt && false)
  - meson compile -C build_debug --jobs 2
  - meson test -C build_debug || (cat build_debug/meson-logs/testlog.txt && false)

after_success:
  - lcov --directory . --capture --output-file coverage.info
  - lcov --remove coverage.info '/usr/*' "${HOME}"'/.cache/*' '*/tests/*' '*/subprojects/*' --output-file coverage.info
  - lcov --list coverage.info
  - bash <(curl --silent https://codecov.io/bash) -X coveragepy -X xcode -f coverage.info
