#%RAML 1.0
---
title: Scraf
baseUri: https://scraf.pwrau.ml/api/{version}
version: v1

/students:
  description: Students registered to Scraf
  get:
    description: Get a list of students based on their name
    queryParameters:
      name:
        description: "Name of the student to search"
        type: string
        example: "Andrea Pa"
        minLength: 3
        required: true
    responses:
      200:
        body:
          application/json:
            example: |
              {
                "students": [
                  {
                    "id": 107,
                    "name": "Andrea",
                    "surname": "Pappacoda"
                  },
                  {
                    "id": 238,
                    "name": "Paolo",
                    "surname": "Andreoli"
                  }
                ]
              }
  post:
  /{studentId}:
    get:
    patch:
    delete:
    /subjects:
      get:
      /{subjectId}:
        /marks:
          get:

/teachers:
  get:
  post:
  /{teacherId}:
    get:
    patch:
    delete:
    /subjects:
      get:
      post:
      /{subjectId}:
        delete:
        /marks:
          get:

/schools:
  get:
  post:
  /{schoolId}:
    get:
    patch:
    delete:
    /subjects:
      get:
      post:
      /{subjectId}:
        get:
        patch:
        delete:
        /marks:
          get:
          post:
          /{markId}:
            get:
            patch:
            delete:
    /classes:
      get:
      post:
      /{classId}:
        get:
        patch:
        delete:
        /subjects:
          get:
          post:
          /{subjectId}:
            delete:
  /students:
    get:
    post:
    /{studentId}:
      delete:
  /teachers:
    get:
    post:
    /{teacherId}:
      delete:

resourceTypes:
  collection:
    get:
    post:
  collection-item:
    get:
    patch:
    delete:
  sub-collection:
    get:
    post:
  sub-collection-item:
    delete:
  sub-collection-read:
    get:
